/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definición de colores */
:root {
  --bg-topbar: #3c3658; /* Un poco más oscuro que el sidebar */
  --bg-sidebar: #262335; /* Morado oscuro extraído de la imagen */
  --bg-hover: #332e45; /* Hover en sidebar, un tono más claro */
  --text-primary: #d8b4fe; /* Morado claro para textos */
  --text-white: #ffffff; /* Texto blanco */
  --border-color: #4c1d95; /* Bordes morados */
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex: 1;
  margin-top: 56px; /* Height of navbar */
}

/* Navbar (Topbar) */
.topbar {
  background-color: var(--bg-topbar) !important;
  color: var(--text-white);
  padding: 10px;
}

.custom-dropdown-toggle {
  background-color: var(--bg-topbar) !important;
  color: var(--text-white);
  transition: box-shadow 0.3s ease; /* Agrega una transición suave */
}

.custom-dropdown-toggle:hover {
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.7); /* Sombra más grande y pronunciada */
}


/* Botón Menú Toggle */
.menutoggle {
  background-color: var(--bg-topbar) !important;
  border-color: var(--bg-topbar) !important;
}

/* Sidebar */
.sidebar {
  width: 250px;
  min-height: calc(100vh - 56px);
  padding-top: 1rem;
  border-right: 1px solid var(--border-color);
  transition: transform 0.3s ease;
  background-color: var(--bg-sidebar) !important;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fc; /* Fondo gris claro */
  transition: margin-left 0.3s ease;
}

/* Active link styles */
.nav-link.active {
  background-color: rgba(124, 58, 237, 0.2) !important; /* Fondo morado claro moderno */
}

/* Sidebar links */
.sidebar .nav-link {
  padding: 0.8rem 1rem;
  transition: background-color 0.3s;
  color: var(--text-primary);
}

.sidebar .nav-link:hover {
  background-color: var(--bg-hover) !important;
  color: var(--text-white);
}

/* Submenu */
.submenu-item {
  background-color: var(--border-color) !important;
  border-left: 3px solid var(--text-primary) !important;
  border-right: 1px solid var(--border-color) !important;
  margin: 2px 2px;
  color: var(--text-white);
}

.submenu-item:hover {
  background-color: #9333ea !important; /* Fondo morado más oscuro al hacer hover */
}

/* Dropdown arrow */
.dropdown-arrow {
  transition: transform 0.3s ease;
  color: var(--text-primary);
}

.dropdown-arrow.open {
  transform: rotate(90deg);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 56px;
    left: 0;
    height: calc(100vh - 56px);
    z-index: 1000;
    transform: translateX(0);
  }

  .sidebar.hide {
    transform: translateX(-100%);
  }

  .content-wrapper {
    margin-left: 0;
  }

  .main-content {
    width: 100%;
  }
}
