/*Boton para cancelar procesos*/
.bt-cancelar{
    background-color: #DA1A32;
    color: #FEF7F8;
    font-size: 1.2rem;
    border-radius: 10px;
    width: 180px;
    border-color: #DA1A32;
  }

  .bt-cancelar:hover {
    background-color: #AC1528;
    color: #FEFEFE;
    border-color: #DA1A32;
  }
/*Boton para cancelar procesos*/

  .bt-general{
    background-color: #FEFEFE;
    border: 2px solid #1463C2 ;
    color: #1463C2;
    font-size: 1.2rem;
    border-radius: 10px;
    width: 180px;
  }

  .bt-general:hover{
    background-color: #0F4D8B; 
    color: #FEFEFE;
  }

  .input-data{
    border: 2px solid #5B5859 !important;
    color: #43405A !important;
    font-size: 1.1rem !important;
    margin-bottom: 1rem !important; 
    border-radius: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
  }

  .label-title{
    color: #43405A;
    font-size: 1.2rem;
  }

  .bt-return{
    border: 2px solid #28a745;
    color: #28a745;
    font-size: 1.2rem;
  }

  .bt-return:hover{
    background-color: #FEFEFE; 
    border-color: #0F4D8B;
  }


  .btn-crear {
    background-color: #fefefe;
    border: 2px solid #1463c2;
    color: #1463c2;
    font-size: 1.09rem;
    /* background-color: rgb(20, 99, 180); */
  }
  
  .btn-crear:hover {
    background-color: #0f4d8b; /* Fondo al pasar el cursor */
    color: #fefefe;
  }

  .input-image{
    border: 2px solid #5B5859 !important;
    color: #43405A !important;
    font-size: 1.1rem !important;
    margin-bottom: 1rem !important; 
    border-radius: 6px;
    width:  300px;
    height: 200%;
  }

  .btn-cargarimagen{
    margin-top: 250px;
  }
  

.btn-simple{
  background-color: #0f4d8b; /* Fondo al pasar el cursor */
  color: #fefefe;
}

.btn-simple:hover {
  background-color:  #005BA8 ; /* Fondo al pasar el cursor */
  color: #fefefe;
}

.btn-type-category{
  background-color: #0f4d8b; /* Fondo al pasar el cursor */
  color: #fefefe;
  font-size: 1.2rem;
  border-radius: 10px;
  width: 180px;
}

.btn-type-category:hover {
  background-color:  #005BA8 ; /* Fondo al pasar el cursor */
  color: #fefefe;
}

.btnReports{
  background-color: #FEFEFE;
  border: 1.5px solid #1463C2 ;
  color: #1463C2;
  font-size: 1rem;
  /* background-color: rgb(20, 99, 180); */
}

.btnReports:hover {
  background-color: #0F4D8B; /* Fondo al pasar el cursor */
  color: #FEFEFE;
}


.btnAgregarUsuario {
  background-color: #fefefe;
  border: 2px solid #1463c2;
  color: #1463c2;
  font-size: 1.09rem;
  /* background-color: rgb(20, 99, 180); */
}

.btnAgregarUsuario:hover {
  background-color: #0f4d8b; /* Fondo al pasar el cursor */
  color: #fefefe;
}

@media (max-width: 768px) {
  .mobile-optimized {
    font-size: 0.9rem;
  }
  .mobile-optimized h6 {
    font-size: 0.95rem;
  }
}