.btnAgregarRol{
    background-color: #FEFEFE;
    border: 2px solid #1463C2 ;
    color: #1463C2;
    font-size: 1.09rem;
    /* background-color: rgb(20, 99, 180); */
}

.btnAgregarRol:hover {
    background-color: #0F4D8B; /* Fondo al pasar el cursor */
    color: #FEFEFE;
  }


  /*Formulario*/
  /* Asegura que los inputs estén uno debajo del otro */
.form-label, .form-control, .form-check {
    width: 100%;
  }
  
  textarea.form-control {
    resize: vertical;
  }
