.save-button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
}

.success-overlay {
  position: fixed;
  top: 0;
  left: 0; /* Cambiamos esto a 0 para que no haya desplazamiento horizontal */
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté por encima de todo */
}

.success-content {
  text-align: center;
  background-color: #E1F4E5; /* Color de fondo del contenido */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 90%; /* Limita el ancho en dispositivos móviles */
  margin: 0 auto; /* Centra el contenido horizontalmente */
}

.success-gif {
  width: 150px;
  height: 150px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  box-shadow: none;
  mix-blend-mode: multiply; /* Elimina el fondo blanco */
}
.success-message {
  color: #28a745;
  font-size: 18px;
  margin-top: 10px;
}