/* GestionDeSucursalesPage.css */
.gestion-card {
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 10px; /* Bordes redondeados */
    border: 1px solid #e0e0e0; /* Borde sutil */
    overflow: hidden; /* Para que el borde redondeado funcione correctamente */
    background-color: #FFF9EC;
}

.gestion-card:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
}

.gestion-card-header {
    background-color: #F2F4F7; /* Color de fondo para el encabezado */
    border-bottom: 1px solid #e0e0e0; /* Borde inferior */
    padding: 1rem; /* Espaciado interno */
    text-align: center; /* Texto centrado */
    font-weight: bold; /* Texto en negrita */
    color: #333; /* Color del texto */
}

.gestion-card-body {
    padding: 1.5rem; /* Espaciado interno */
    color: #0C3B6A;
}

.gestion-card-icon {
    color: #6c757d; /* Color gris para los íconos */
    margin-right: 0.5rem; /* Espacio a la derecha del ícono */
}

.gestion-card-button {
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre ícono y texto */
    margin: 0.5rem; /* Margen para los botones */
}

.gestion-card-button:hover {
    color: white; /* Cambiar color del texto al pasar el mouse */
}

.gestion-card-button-primary:hover {
    background-color: #0d6efd; /* Color primario */
}

.gestion-card-button-danger:hover {
    background-color: #dc3545; /* Color de peligro */
}