/* GestionDeSucursalesPage.css */
.gestion-card {
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 20px; /* Bordes redondeados */
    border: 0.1px solid #3033; /* Borde sutil */
    overflow: hidden; /* Para que el borde redondeado funcione correctamente */
    background-color: #FFFFFF;
}

.gestion-card:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
}

.gestion-card-header {
    background-color: #FFFFFF; /* Color de fondo para el encabezado */
    border-bottom: 1px solid whitesmoke; /* Borde inferior */
    padding: 1rem; /* Espaciado interno */
    text-align: center !important; /* Texto centrado */
    font-weight: bold; /* Texto en negrita */
    color: #197FE6; /* Color del texto */
}

.gestion-card-body {
    padding: 1.5rem; /* Espaciado interno */
    color: #0C3B6A;
}

.gestion-card-icon {
    color: #303335; /* Color gris para los íconos */
    margin-right: 0.5rem; /* Espacio a la derecha del ícono */
}

.gestion-card-button {
    display: flex;
    align-items: center;
    gap: 5px; /* Espacio entre ícono y texto */
    margin: 0.5rem; /* Margen para los botones */
}

.gestion-card-button:hover {
    color: white; /* Cambiar color del texto al pasar el mouse */
}

.gestion-card-button-primary:hover {
    background-color: #0d6efd; /* Color primario */
}

.gestion-card-button-danger:hover {
    background-color: #dc3545; /* Color de peligro */
}

/*------------- Modal -----------------------------*/
/* Estilos para el modal */
.modal-content {
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 100px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
  }
  
  .modal-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #0F4D8B;
    color: #0F4D8B;
  }
  
  .modal-title {
    font-size: 1.9rem;
    font-weight: bold;
    color: #0F4D8B;

  }
  
/* Cambiar el color del botón de cierre */
.modal-header .btn-close {
    background-color: #0F4D8B; /* Color personalizado */
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-position: center;
    opacity: 1; /* Asegura que el ícono sea completamente visible */
    border: none; /* Elimina el borde predeterminado */
  }
  
  /* Cambiar el hover del botón de cierre */
  .modal-header .btn-close:hover {
    background-color: #0F4D8B; /* Color personalizado al hacer hover */
    opacity: 0.8; /* Reduce ligeramente la opacidad al hacer hover */
  }
  
  /* Estilos para los inputs */
  .custom-input {
    border-radius: 8px;
    border: 0.5px solid #303335;
    padding: 10px;
    font-size: 14px;
    transition: border-color 0.3s ease;
  }
  
  .custom-input:focus {
    border-color: #007bff;
    box-shadow: none;
  }
  
  /* Estilos para el botón */
  .custom-button {
    background-color: #FFFFFF;
    border: 1.5px solid #0F4D8B;
    color: #0F4D8B;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #0056b3;
  }
  
  .custom-button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }

  